name: test
on: ['push']
jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '14'
      - name: Install dependencies
        run: pnpm i 
      - name: Run tests
        run: pnpm run test
